environment:
  - GF_SERVER_ROOT_URL=https://grafana.yourdomain.com

  - GF_AUTH_GENERIC_OAUTH_ENABLED=true
  - GF_AUTH_GENERIC_OAUTH_NAME=EntraID

  - GF_AUTH_GENERIC_OAUTH_CLIENT_ID=xxxxx
  - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=xxxxx

  - GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://login.microsoftonline.com/xxxxx/oauth2/v2.0/authorize
  - GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://login.microsoftonline.com/xxxxx/oauth2/v2.0/token
  - GF_AUTH_GENERIC_OAUTH_API_URL=https://graph.microsoft.com/oidc/userinfo